@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Mulish:wght@300&display=swap');
h1 { 
   font-family: 'Josefin Sans';
   font-weight: bold;
}

.container { 
   background: url(5566.jpg);
   background-size: cover /*90rem 60rem*/;
   margin-top: 1rem;
   height: 90vh;
   width: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.cristal input  { 
   margin-bottom: 5px;
   border-radius: 4px;
   width: 10rem;
   height: 2rem;
   text-align: center;
   border: .5px solid #000;
}

.cristal select { 
   margin-bottom: 5px;
   width: 5rem;
   height: 2rem;
   border: .5px solid #000;
   border-radius: 4px;
   text-align: center;
}

.cristal { 
   width: 70rem;
   height: 50rem;
   border-radius: 5px;
   text-align: center;
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   background-color: rgba(243, 11, 11, 0.1);
   backdrop-filter: blur(7.5px);
   -webkit-backdrop-filter: blur(7.5px);
}

button { 
   border-radius: 4px;
   width: 10rem;
   height: 2rem;
   text-align: center;
   border: .5px solid #000;
   margin-top: 5px;
   background-color: aquamarine;
   font-family: 'Josefin Sans';
   font-weight: bolder;
}